.profilepicture {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid #01C38D;
    border-radius: 50%;
    width: 115px;
    height: 115px;
}

.instagramtag {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 50px;
    width: 60%;
    background: white;
    color: #01C38D;
    border-color: #01C38D;
    font-size: 2rem;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: .6s;
}

button:hover {
    background: #3F448C;
}

.container {
    margin-top: 0.5rem;
    font-size: 2.5rem;
    color: #01C38D;
}

.socialicon:hover {
    color: #3F448C;
}

body {
    background-color: whitesmoke;
}
